body {
    margin: 80px;
}

range-dial {
    margin: 1rem;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.rack {
    background-color: #444;
    display: inline-block;
    border: #222;
    border-radius: 5px;
    margin-bottom: 1rem;
}
piano-keyboard {
    display: block;
    max-width: 700px;
}