body {
    margin: 80px;
}

range-dial {
    margin: 1rem;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.rack {
    background-color: #444;
    display: inline-block;
    border: #222;
    border-radius: 5px;
}