<div id="container">
    <svg version="1.1" viewBox="-50 -50 100 100">
        <g transform="rotate(135, 0, 0)">
            <circle class="track" cx="0" cy="0" r="49" />
            <path id="arc" d=""/>
            <circle id="ring" cx="0" cy="0" r="36" />
            <line id="pointer" x1="0" y1="0" x2="0" y2="46" />
            <circle class="cover" cx="0" cy="0" r="27" />
            <circle class="tick" cx="55" cy="0" r="4" />
            <circle class="tick" cx="0" cy="-55" r="4" />
        </g>
    </svg>
</div>
